:global {
    body {
        margin: 0;
        padding: 0;
    }

    .page {
        overflow: hidden;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .hello {
        color: lighten(yellow, 20%);
        background-color: fuchsia;

        h1 {
            font-family: "Calligraffitti", cursive;
            font-size: 10em;
            margin: 0;
            padding: 0;
        }

        .scroll-down {
            @triangle_width: 40px;
            @triangle_height: 30px;
            position: absolute;
            top: 80vh;

            // Triangle
            width: 0;
            height: 0;
            border-left: @triangle_width solid transparent;
            border-right: @triangle_width solid transparent;
            border-top: @triangle_height solid yellow;

            animation-duration: 4s;
            animation-iteration-count: infinite;

            top: 80vh;
            opacity: 0.1;
            :local {
                animation-name: example;
                @keyframes example {
                    50% {
                        top: 85vh;
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    .whoami {
        color: DodgerBlue;
        background-color: lighten(cyan, 40%);
        font-size: 3em;
        font-family: "Raleway", sans-serif;

        .box {
            padding: 1em;
            border: 2px dashed dodgerblue;
        }

        #laptop {
            width: 150px;
            height: 100px;
        }
        .svg-animate {
            stroke-dasharray: 2566;
            stroke-opacity: 0.5;
            stroke-dashoffset: 2566;

            :local {
                animation: cloud 8s linear alternate infinite;
                @keyframes cloud {
                    from {
                        stroke-dashoffset: 2500;
                    }
                    to {
                        stroke-dashoffset: 0;
                    }
                }
            }
        }
    }
}

:local {
    .myClass {
        color: orange;
    }
}
